.pf-hero-slider {
  .glide__arrow--left {
    left: 0;
    top: calc(50% - 2.5rem);
    bottom: auto;
    transform: rotate(-90deg);

    @screen lg {
      left: -5rem;
      bottom: 5rem;
      top: auto;
    }
  }

  .glide__arrow--right {
    left: auto;
    right: 0;
    top: calc(50% - 2.5rem);
    bottom: auto;
    transform: rotate(90deg);

    @screen lg {
      left: 0;
      bottom: 5rem;
      top: auto;
      right: auto;
    }
  }
}
