.btn {
  @apply bg-primary my-3 px-16 h-16 text-black leading-none font-axis font-bold text-2xl rounded-none;

  transition: 0.2s ease;

  a {
    @apply text-black text-2xl;
  }
}

.btn--big {
  @apply h-20;
}

.add_to_cart_button {
  @apply bg-black my-3 px-16 h-20 text-white leading-none font-axis font-bold text-2xl rounded-none;

  transition: 0.2s ease;

  a {
    @apply text-white text-2xl;
  }

  &:hover {
    @apply bg-primary text-black;
  }
}

.btn--black {
  @apply bg-black text-white;

  a {
    @apply text-white;
  }
}

.btn:hover {
  @apply bg-white;

  a {
    @apply border-transparent;
  }
}

.btn--black:hover {
  @apply bg-primary text-black;
}

.btn--hover-black:hover {
  @apply bg-black text-white;
}

.btn--px-20 {
  @apply px-20;
}

.btn--wide {
  @apply px-32;
}

.btn--gray {
  @apply bg-gray-100;
}
