/** Search form */
.search-form {
  @apply flex items-center;
}

.search-form label {
  @apply mb-4;

  font-weight: normal;
}

.search-form .search-field {
  @apply block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-500 rounded;
}

.search-form .search-submit {
  @apply inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-gray-100 bg-gray-500;

  &:hover {
    @apply bg-gray-400;
  }
}

/* Contact form */
div.wpcf7 {
  label {
    @apply hidden;
  }

  .wpcf7-text,
  .wpcf7-email,
  .wpcf7-textarea {
    @apply border-gray-400 border-b-2 w-full pb-2 outline-none rounded-none;
  }

  .wpcf7-not-valid {
    @apply border-primary;
  }

  .wpcf7-not-valid-tip {
    @apply hidden;
  }

  .wpcf7-response-output {
    display: none !important;
  }

  .ajax-loader {
    @screen md {
      @apply mr-2;
    }
  }
}

// Field group
.pf-field-group + .pf-field-group {
  @apply mt-12;
}

.pf-field-group--required {
  @apply relative;

  &::after {
    @apply block text-primary text-3xl absolute font-bold;

    content: "*";
    top: 0;
    right: 0;
  }
}

/* WooCommerce checkout */
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  @apply rounded-none;
}

.woocommerce .cart .button,
.woocommerce .cart input.button {
  @apply px-5 h-16 text-black leading-none font-axis font-bold text-2xl rounded-none;

  transition: 0.2s ease;

  @screen lg {
    @apply px-16;
  }
}

.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text,
#add_payment_method table.cart td.actions .coupon .input-text {
  @apply w-32 h-16 text-center;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  @apply btn h-auto; //TODO: maybe apply h-auto for base btn?

  &:hover {
    @apply btn--black;
  }
}

.woocommerce a.checkout-button.button {
  @apply float-right py-6 px-4 border-none;

  &:hover {
    @apply bg-gray-100 text-black;
  }

  @screen md {
    @apply w-1/2;
  }
}

.woocommerce {
  .woocommerce-checkout {
    h3 {
      @apply mb-10;
    }
  }

  form .form-row {
    @apply mb-10;

    .select2-container--default .select2-selection--single {
      @apply rounded-none border-l-0 border-t-0 border-r-0;
    }

    .select2-container--open .select2-selection--single {
      @apply rounded-sm border-l border-t border-r;
    }

    input.input-text,
    textarea,
    .select2-container--default .select2-selection--single {
      @apply border-gray-400 border-b-2 w-full pb-2 outline-none;
    }

    label {
      @apply hidden;
    }
  }

  .validate-required .woocommerce-input-wrapper, {
    @apply relative;

    &::after {
      @apply block text-primary text-3xl absolute font-bold;

      content: "*";
      top: -6px;
      right: 0;
    }
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 20px;
  }

  #billing_country_field,
  #shipping_country_field {
    label {
      @apply block;

      color: #a0aec0;

      .required {
        @apply hidden;
      }
    }
  }
}
