// Import Glide
@import "~@glidejs/glide/src/assets/sass/glide.core.scss";
@import "~@glidejs/glide/src/assets/sass/glide.theme.scss";

.recent-posts {
  .glide__arrow {
    @apply w-20 h-20 bg-black absolute z-10 p-0 rounded-none border-0 shadow-none;
  }
}

.pf-glide {
  @apply h-full relative;

  .glide,
  .glide__track {
    @apply h-full;
  }

  .glide__slides {
    @apply h-full;

    transform: none !important;
    width: auto !important;
    display: block;
  }

  .glide__slide {
    @apply h-full bg-cover bg-center;

    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity linear 0.5s;
    min-height: 500px;
  }

  .glide__slide:first-child {
    position: relative;
  }

  .glide__slide--active {
    z-index: 1;
    opacity: 1;
  }

  .glide__arrow {
    @apply w-20 h-20 bg-black absolute z-10 p-0 rounded-none border-0 shadow-none;
  }
}

.pf-glide--vertical {
  .glide__arrow--left {
    left: 0;
    top: auto;
    bottom: 10rem;
  }

  .glide__arrow--right {
    left: 0;
    top: auto;
    right: auto;
    bottom: 5rem;
    transform: rotate(180deg);
  }
}

.pf-glide__current {
  @apply relative w-4 text-center;

  top: -2px;
}

.pf-glide__total {
  @apply relative w-4 text-center;

  top: 4px;
}
