.pf-knitwear-slider {
  .slick-slide {
    > div {
      @apply h-half flex;

      @screen md {
        // @apply h-half flex;
      }
    }
  }

  .slick-prev,
  .slick-next {
    @apply w-12 h-12 text-white border-none absolute z-10 p-0 border-none shadow-none;

    @screen md {
      @apply w-20 h-20;
    }
  }

  .slick-prev {
    left: -5rem;
    top: 5rem;
    bottom: auto;
  }

  .slick-next {
    left: -5rem;
    top: 10rem;
    right: auto;
    bottom: auto;
    transform: rotate(180deg);
  }
}
