.pf-knitwear-product-slider {
  .glide__arrow--left {
    left: 0;
    top: auto;
    bottom: 10rem;
  }

  .glide__arrow--right {
    left: 0;
    top: auto;
    right: auto;
    bottom: 5rem;
    transform: rotate(180deg);
  }
}
