.pf-product-aside {
  @apply absolute w-20 top-0 left-0 z-10;

  @screen lg {
    @apply left-0;

    top: 5rem;
  }
}

.pf-product-aside__link-text {
  @apply flex whitespace-no-wrap items-center w-full py-12 text-white transition-colors ease-in duration-300 uppercase transform -rotate-180;

  &:hover {
    @apply text-black;
  }

  @screen lg {
    @apply text-gray-100;
  }
}

