.recent-posts {
  .recent-post > a:hover {
    h3 {
      @apply text-primary;
    }
  }

  .glide__arrow {
    top: 6rem;

    @screen md {
      top: 8rem;
    }
  }
}

/* The Image container */
.img-hover-zoom {
  overflow: hidden; /* Removing this will break the effects */
}

/* Colorize-zoom Container */
.img-hover-zoom--colorize img {
  transition: transform 1s, filter 1s ease-in-out;
  filter: grayscale(100%);
}

/* The Transformation */
.img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}
