.pf-slick {
  .slick-list,
  .slick-track {
    height: 100% !important;
  }
}

.pf-slick-counter__current {
  @apply relative w-4 text-center;

  top: -2px;
}

.pf-slick-counter__total {
  @apply relative w-4 text-center;

  top: 4px;
}

.pf-slick-counter {
  @apply flex justify-center items-center border-none bg-white border-l border-gray-100 text-gray-100 w-20 h-20 absolute;

  left: -5rem;
  top: 15rem;
}
