.pf-workshops {
  background-image: url("../images/home_img.jpg");

  @screen lg {
    background-image: none;
  }
}

.pf-workshop-products__product {
  .pf-workshop-products__product-mobile-title {
    @apply text-4xl font-axis;

    svg {
      @apply w-8 h-5 inline-block;
    }

    @screen lg {
      @apply hidden;
    }
  }

  &:nth-child(odd) {
    @apply mr-20 bg-primary;

    .pf-workshop-products__product-mobile-title {
      @apply text-black;
    }

    @screen lg {
      @apply mr-0 bg-transparent;
    }
  }

  &:nth-child(even) {
    @apply ml-20 mt-10 bg-purple;

    .pf-workshop-products__product-mobile-title {
      @apply text-primary;

      svg {
        @apply fill-current;
      }
    }

    @screen lg {
      @apply ml-0 mt-0 bg-transparent;
    }
  }
}
