.responsive-video-container {
  @apply relative overflow-hidden h-0;

  padding-bottom: 56.25%;

  iframe,
  object,
  embed,
  video {
    @apply absolute w-full h-full;

    top: 0;
    left: 0;
  }
}

// .wrap,
.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
  width: 100%;
}

.alignwide {
  @screen lg {
    width: calc(100vw - 10rem);
    margin-left: 5rem;
  }
}
