@font-face {
  font-family: "Axis";
  font-weight: 700;
  font-display: fallback;
  font-style: normal;
  src:
    url("../fonts/Axis/axis-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Axis/axis-webfont.woff2") format("woff2"),
    url("../fonts/Axis/axis-webfont.woff") format("woff"),
    url("../fonts/Axis/axis-webfont.ttf") format("truetype"),
    url("../fonts/Axis/axis-webfont.svg") format("svg");
}

@font-face {
  font-family: "AcuminPro";
  font-weight: 100;
  font-display: fallback;
  font-style: normal;
  src:
    url("../fonts/AcuminPro/AcuminPro-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AcuminPro/AcuminPro-Thin.woff2") format("woff2"),
    url("../fonts/AcuminPro/AcuminPro-Thin.woff") format("woff2"),
    url("../fonts/AcuminPro/AcuminPro-Thin.ttf") format("truetype"),
    url("../fonts/AcuminPro/AcuminPro-Thin.svg") format("svg");
}

@font-face {
  font-family: "AcuminPro";
  font-weight: 400;
  font-display: fallback;
  font-style: normal;
  src:
    url("../fonts/AcuminPro/AcuminPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AcuminPro/AcuminPro-Regular.woff2") format("woff2"),
    url("../fonts/AcuminPro/AcuminPro-Regular.woff") format("woff"),
    url("../fonts/AcuminPro/AcuminPro-Regular.ttf") format("truetype"),
    url("../fonts/AcuminPro/AcuminPro-Regular.svg") format("svg");
}

@font-face {
  font-family: "DinAlternate";
  font-weight: 700;
  font-display: fallback;
  font-style: normal;
  src:
    url("../fonts/DinAlternate/DIN-BoldAlternate.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DinAlternate/DIN-BoldAlternate.woff2") format("woff2"),
    url("../fonts/DinAlternate/DIN-BoldAlternate.woff") format("woff"),
    url("../fonts/DinAlternate/DIN-BoldAlternate.ttf") format("truetype"),
    url("../fonts/DinAlternate/DIN-BoldAlternate.svg") format("svg");
}
