.pf-screen-md-min-h-300 {
  @screen md {
    min-height: 300px !important;
  }
}

.pf-cf7-md-w-auto {
  @screen md {
    @apply w-auto;
  }
}

.pf-group-lg-h-full {
  @screen lg {
    &,
    > .wp-block-group__inner-container {
      @apply h-full;
    }
  }
}

.pf-two-cols-no-gap {
  @apply mb-0;

  .wp-block-column {
    flex-basis: 50% !important;
  }
}

.pf-two-cols-no-gap--mobile-w-full {
  .wp-block-column {
    flex-basis: 100% !important;

    @screen md {
      flex-basis: 50% !important;
    }
  }
}

.pf-two-cols-no-gap .wp-block-column:not(:first-child) {
  @apply ml-0;
}

.pf-md-px-10 {
  @apply px-10;

  @screen md {
    @apply px-16;
  }
}

.pf-text-lg-md-text-4xl {
  @apply text-lg;

  @screen md {
    @apply text-4xl;
  }
}

.pf-md-hidden {
  @screen md {
    &,
    &.wp-block-image {
      @apply hidden;
    }
  }
}

.pf-hidden-md-block {
  @apply hidden;

  @screen md {
    @apply block;
  }
}
