// Global styles are set in the Tailwind config using a plugin

h1 {
  @screen md {
    @apply text-8xl;
  }
}

h2 {
  @screen md {
    @apply text-7xl;
  }
}

h3 {
  @screen md {
    @apply text-6xl;
  }
}
