.banner .nav-mobile a {
  @apply block text-black font-din font-bold uppercase text-4xl transition duration-150 ease-in-out;
}

.banner .nav-mobile__gray-link {
  a {
    @apply text-gray-900;
  }
}

.banner .nav {
  @apply flex flex-wrap list-none p-0;
}

.banner .nav a {
  @apply inline-block px-6 font-din font-bold uppercase text-black text-lg transition duration-150 ease-in-out leading-none align-middle;
}

.menu-item:not(.nav-mobile__gray-link) + .nav-mobile__gray-link {
  @apply mt-16;
}

.banner .nav a:hover,
.banner .nav .active a {
  @apply text-gray-200 border-transparent;
}

.banner .nav-mobile {
  @apply flex flex-col text-black;
}
