.product_cat-workshops {
  .pf-product-aside__link-text {
    @apply text-gray-100;
  }

  .pf-product__title {
    @apply font-axis mb-10;

    @screen md {
      @apply hidden;
    }
  }

  // .pf-product__content,
  // .pf-product__title {
  //   @apply pl-20;

  //   @screen md {
  //     @apply pl-0;
  //   }
  // }

  .pf-product-price {
    @apply px-4 text-lg bg-black flex justify-center items-center text-white mb-0 flex-shrink-0;

    @screen md {
      @apply px-0;

      width: 150px;
    }
  }

  .cart {
    @apply flex justify-center mt-16 relative mb-20;

    button,
    button.button.alt {
      @apply btn px-0 rounded-none m-0 w-full;

      &:hover {
        @apply btn--black;
      }

      @screen sm {
        @apply w-auto px-10;
      }

      @screen lg {
        @apply justify-start px-16;
      }
    }

    @screen md {
      @apply absolute mt-0 mb-0;

      left: -150px;
      bottom: 10rem;
    }
  }
}
