.product_cat-knitwear {
  .pf-product-price {
    @apply px-4 text-2xl bg-black flex justify-center items-center text-white mb-0 flex-shrink-0;

    @screen md {
      @apply px-0;

      width: 100px;
    }
  }

  .pf-product__content {
    @apply hidden;

    @screen md {
      @apply block;
    }
  }

  .single_variation_wrap,
  .cart:not(.variations_form) {
    @apply flex mt-16 relative mb-20;

    button,
    button.button.alt {
      @apply btn px-0 rounded-none m-0 w-full;

      &:hover {
        @apply btn--black;
      }

      @screen sm {
        @apply w-auto px-10;
      }

      @screen lg {
        @apply px-16;
      }
    }

    @screen md {
      @apply absolute mt-0 mb-0;

      left: -100px;
      bottom: 10rem;
    }
  }
}
