.woocommerce-cart,
.woocommerce-checkout {
  .main {
    @apply pt-16;
  }

  .cart-collaterals {
    @apply mt-16;
  }
}

.return-to-shop {
  a.button {
    @apply btn btn--black py-6 h-auto;

    &:hover {
      @apply bg-primary text-black;
    }
  }

  &::before {
    @apply text-black;
  }
}

.woocommerce form.checkout_coupon {
  @apply rounded-none;

  button {
    @apply btn btn--black py-6 h-auto;

    &:hover {
      @apply bg-primary text-black;
    }
  }
}

.woocommerce,
.woocommerce-page {
  .woocommerce-shipping-destination {
    @apply hidden;
  }

  .woocommerce-message,
  .woocommerce-info {
    @apply border-black text-black;

    background: #ebe9eb;

    .button {
      @apply btn btn--black px-4 h-auto text-lg ml-6;

      &:hover {
        @apply bg-primary;

        a {
          @apply border-transparent;
        }
      }
    }

    &::before {
      @apply text-black;
    }
  }

  .woocommerce-info .showcoupon {
    @apply text-gray-200;
  }

  .cart-collaterals {
    @apply px-5;

    @screen lg {
      @apply px-0;
    }
  }

  &.woo-variation-swatches .variable-items-wrapper {
    @apply -ml-4;
  }

  &.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected {
    @apply bg-primary rounded-none;
  }

  &.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    @apply shadow-none;
  }

  &.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):hover {
    @apply shadow-none bg-primary rounded-none;
  }

  &.woo-variation-swatches .variable-items-wrapper .variable-item.button-variable-item .variable-item-span {
    @apply p-0 uppercase;
  }

  &.woo-variation-swatches .variable-items-wrapper .variable-item.button-variable-item {
    @apply h-12 px-4;
  }

  [data-attribute_name="attribute_pa_size"] .button-variable-item {
    width: 3rem !important;
  }

  div.product form.cart .variations label {
    @apply font-normal;
  }

  .button-variable-item span {
    @apply text-lg;
  }

  .woocommerce-variation-add-to-cart {
    @apply flex w-full;

    @screen lg {
      @apply w-auto;
    }
  }

  .variations {
    @apply relative;

    .reset_variations {
      @apply absolute left-0 bottom-0;
    }

    tbody {
      @apply pb-10;

      @screen lg {
        @apply flex flex-row;
      }
    }

    tr {
      @apply flex flex-col;
    }

    tr + tr {
      @apply mt-16;

      @screen lg {
        @apply mt-0;
      }
    }

    tr:first-of-type {
      @apply flex-1;
    }

    td.value {
      @apply mt-6;
    }
  }

  .brand img {
    @apply h-16;
  }
}
